@import "tailwindcss";

@theme {
  --font-amiri: "Amiri", serif;
  --font-inter: "Inter", sans-serif;
}

body {
  background-color: #020617;
  color: #e2e8f0; /* ini pengganti text-slate-200 secara manual biar aman */
  overflow-x: hidden;
}
